{% extends "layout.html" %}
{% block body %}

<h2>Your Warhammer collection</h2>

{% for army in all_army %}
    <h3>{{army.name}}</h3>
    <p>
        Armies faction: {{army.faction}}<br>
        Codex edition: {{army.codex}}
        <form action="{{ url_for('update_army', number=army.id)}}">
            <input type=submit value="Update">
        </form>
        <form action="{{ url_for('delete', number=army.id)}}">
            <input type=submit value="Delete">
        </form>
        {% for unit in all_unit %}
            {% if unit.army_id == army.id %}
                {{unit.name}}
            {% endif %}
        {% endfor %}
    </p>
    

{% endfor %}

{% endblock body %}