{% extends "layout.html" %}
{% block body %}

<h2>Your Warhammer collection</h2>

<h3>{{army_name}}</h3>

{% for unit in army_unit %}
    <p>
        Unit name: {{unit.name}}<br>
        Category: {{unit.category}}<br>
        Price per model: {{unit.price}}<br>
        Quantity owned: {{unit.quantity}}
        <form action="{{ url_for('update_unit', number=unit.id, army_id=unit.army_id)}}">
            <input type=submit value="Update">
        </form>
        <form action="{{ url_for('delete_unit', number=unit.id)}}">
            <input type=submit value="Delete">
        </form>
    </p>
    

{% endfor %}

{% endblock body %}